body {
  background-color: #f1f4f6;
  color: #495057;
}

.main-container {
  display: flex;
  margin: 0;
}

.padding-left-right-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.btn {
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
}

.btn.btn-dark {
  color: #fff;
  background-image: linear-gradient(to right, #141e30, #243b55);
  border-color: #212529;
}

.btn.btn-dark:hover {
  background-color: gray;
}

.btn.btn-danger {
  color: #fff;
  background-color: red;
  border-color: red;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.container {
  width: calc(100vw - 270px);
}

.container .main-header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
  color: #000;
  font-weight: 300;
  font-size: 22px;
  padding-left: 20px;
}

.display-none {
  display: none;
}
