.main-container {
  display: flex;
  margin: 0;
}

.padding-left-right-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.btn {
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
}

.btn.btn-dark {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}

.btn.btn-dark:hover {
  background-color: gray;
}

.btn.btn-danger {
  color: #fff;
  background-color: red;
  border-color: red;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.container {
  width: 100%;
}

.container .main-header {
  background-color: #21252980;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.display-none {
  display: none;
}
